{% extends 'base.html.twig' %}

{% block body %}

<div class="container- fluid p-3 my-3 bg-black text-white">

    {{ form_start(carForm) }} 

    {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show">
             <strong>All Good !</strong> Car Created Successfully !
             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
             </button>
         </div>
    {% endfor %}

<div class="row" style="color:#FFDE00;">
        <div class="column col-sm-6">
                <h5> Car Specifications :</h5>
                <br>
                {{ form_row(carForm.name, {'attr':{'class':'form-control' }}) }}
                <br>
                {{ form_row(carForm.nbSeat, {'attr':{'class':'form-control' }}) }}
                <br>
                {{ form_row(carForm.color, {'attr':{'class':'form-control' }}) }}
                <br>
                {{ form_row(carForm.height, {'attr':{'class':'form-control' }}) }}
                <br>
                {{ form_row(carForm.width, {'attr':{'class':'form-control' }}) }} 
                <input style="margin-top:30px; background-color:#FFDE00; color:black;" type="submit" value="Create Car" class="btn btn-outline-dark">     
        </div>

        <div class="column col-sm-6">
            <br>
            <img src="images/car_2.gif" alt="A car drawing" height="50%" style="margin-top:100px;">         
        </div>

</div>
 {{ form_end(carForm) }} 
{% endblock %}
