{% extends 'base.html.twig' %}

{% block body %}

<h2>Add a Car :</h2>

<div class="container">

    {{ form_start(carForm) }} {# <form method="post"> #}

        <div class="row">
            <div class="col-sm-6">
                {{ form_row(carForm.name) }}
                {{ form_row(carForm.nbSeat) }}
                {{ form_row(carForm.color) }}    
            </div>
            <div class="col-sm-6">
                {{ form_row(carForm.height) }}
                {{ form_row(carForm.width) }}
                {{ form_row(carForm.parking) }}
            </div>
        </div>
        

        <input type="submit" value="Submit" class="btn btn-primary">

    {{ form_end(carForm) }} {# </form> #}
</div>


{% endblock %}