{% extends 'base.html.twig' %}


{% block body %}

        <h4 style="margin-top:30px; color: #FFDE00;">List of Cars w/o Parking</h4>
        <br>
        <div class="list-group container">
            <ul class="sortable row" style="min-height:50px">
            {% for car in cars %}
                <li class="list-group-item list-group-item-action col-lg-2" id="{{car.id}}">{{ car.name }}</li>
            {% endfor %}
            </ul>
        </div>
        <br>

        <h4 style="margin-top:30px; color: #FFDE00;">List of Parkings</h4>
        <br>
        <div class="list-group container">
            <ul class="sortable row" style="min-height:50px">
            {% for parking in parkings %}
                <li class="list-group-item list-group-item-action col-lg-2" id="{{parking.id}}"><strong>{{ parking.name }}</strong>
                <br>
            {% for parking in parking.parkingSpace %} 
                <span class="badge badge-primary badge-pill">Spaces : {{parking.parkingSpaces}}</span>
            {% endfor %}
                </li>
            {% endfor %}
            </ul>
        </div> 
    


{% endblock %}