{% extends 'base.html.twig' %}


{% block body %}

<div class="alert alert-warning alert-dismissible fade show col col-lg-6" style="margin-top:20px;margin-left:20px;">
    <strong>Drag a Car onto a Parking to Park the Car ! </strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


        <h4 style="margin-top:30px; color: #FFDE00;margin-left:20px;">List of Cars w/o Parking</h4>
        <br>
        <div class="list-group" style="margin-left:20px">
            <ul class="list-group list-group-horizontal" id="cars">
            {% for car in cars %}
                <li id="{{car.id}}" class="list-group-item list-group-item-action col col-lg-2" style="margin-right:2px;border:solid white;color:white;background-color:black;"><strong>{{car.id}}, {{ car.name }}</strong>
                <br><br><span class="dot" style="background-color:{{car.color}};"></span>
                </li>
            {% endfor %}
            <li class="list-group-item" style="background-color:black;"></li>
            </ul>
        </div>
        <br>

        <h4 style="margin-top:30px; color: #FFDE00;margin-left:20px;">List of Available Parkings</h4>
        <br>

    {% for parking in parkings %}
    <div style="display:flex;">
    <div class="card" style="width:18rem;margin-left:20px;margin-top:10px;border:solid white;color:white;background-color:black;">
       
        <h7 class="text-center">{{ parking.name }}, {{parking.localisation}}</h7>
        <br>
        <span class="badge badge-warning badge-pill" style="font-size: 9px;margin-bottom:5px;"><br>Parking Spaces : {{ parking.parkingSpaces|length }}<br><br></span>
        
        <ul class="list-group list-group-horizontal" id="{{parking.id}}">
        
            <li class="list-group-item" style="background-color:black;"></li>
        {% for car in parking.cars %}
            <li id="{{car.id}}" class="list-group-item list-group-item-action col col-lg-2" style="margin-right:2px;border:solid white;color:white;background-color:black;"><strong>{{ car.name }}</strong>  
            
                <br><br><span class="dot" style="background-color:{{car.color}};"></span>
            
            </li>
         {% endfor %}
        </ul>
    </div>
     {% endfor %}
    </div>


    <script>
        $( function() {
            $( "#cars, .list-group" ).sortable({
                
                receive: function( event, ui ) {
                    
                var carId = ui.item.context.id;
                var parkingId = ui.item.context.parentElement.id;
                
                if(parkingId != null && parkingId != '') {
                    $.ajax({ 
                        url:        '/car_manager/park',  
                        type:       'POST',
                        dataType:   'json', 
                        async:       true, 
                        data:       { carId: carId, parkingId: parkingId},                    
                        success: function(data, status) {  
                             
                        },  
                        error : function(xhr, textStatus, errorThrown) {  
                            location.reload();
                            
                        }  
                    });
                }  else {
                    $.ajax({ 
                        url:        '/car_manager/unpark',  
                        type:       'POST',   
                        dataType:   'json', 
                        async:       true, 
                        data:       { carId: carId},                    
                        success: function(data, status) {  
                        alert('Ajax request successful.' + data + status);    
                        },  
                        error : function(xhr, textStatus, errorThrown) {  
                            alert('Other Ajax request failed.'); 
                            location.reload();
                        }  
                    });
                }
            },

           connectWith: ".list-group",           
            }).disableSelection();
        } );
    </script>

{% endblock %}